@import '../../styles/colors';
@import '../../styles/font-variables';

.container {
  display: flex;
  margin: 0 auto;
}

.leftColumn {
  width: 55%;
}

.title {
  margin: 5rem 0 2rem 0;
  font-size: 5rem;
}

.subtitle {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 400;
}

.cta {
  padding: 15px 25px;
  background-color: $black;
  color: $white;
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.name {
  color: $black;
  font-family: $display-font;
}

.rightColumn {
  flex: 1;
  position: relative;
  margin-top: 2rem;
}

.image {
  position: absolute;
  object-fit: cover;
  filter: grayscale(1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.firstImage {
  top: 0;
  left: 60px;
  width: 260px;
  height: calc(260px * 9 / 16);
}

.secondImage {
  top: 60px;
  left: 330px;
  width: 210px;
}

.thirdImage {
  top: 156.25px;
  left: 0;
  width: 320px;
  height: calc(320px * 9 / 16);
}

@media (max-width: 1200px) {
  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 2.2rem;
  }
}
