.images {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  flex: 25%;

  &:last-of-type {
    margin: 0;
  }
}

.image {
  max-width: 100%;
  margin: 0 0 5px;
  vertical-align: middle;
}

@media (max-width: 420px) {
  .images {
    flex-wrap: wrap;
    margin: 0 0 20px;
  }

  .column {
    flex: 45%;
    margin: 0;

    &:nth-child(odd) {
      margin-right: 5px;
    }
  }
}
