@import './font-variables';
@import './colors';

.container {
  max-width: 1400px;
  margin: 0 auto 20px;
  text-align: center;
}

.innerWrapper {
  margin: 4rem auto 0;

  p {
    margin: 0 0 20px;
  }
}

.contactInfo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 2rem;
}

.contactItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding: 3rem 0;
  transition: transform 0.15s ease;

  a {
    width: 250px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.maskedIcon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 0 1.5rem;
  background-color: $text-dark;
  mask-size: 40px 40px;
  mask-position: top left;
  mask-repeat: no-repeat;
}

.facebookIcon {
  mask-image: url('/icons/facebook.svg');
}

.instagramIcon {
  mask-image: url('/icons/instagram.svg');
}

.phoneIcon {
  mask-image: url('/icons/phone.svg');
}

.envelopeIcon {
  mask-image: url('/icons/envelope.svg');
}

.locationIcon {
  mask-image: url('/icons/location.svg');
}

@media (max-device-width: 424px) and (orientation: portrait) {
  .innerWrapper p {
    margin: 0 0 1.5rem;
  }

  .contactItem {
    margin: 0 0 3rem;
    padding: 1rem 0;
  }

  .maskedIcon {
    margin: 0 0 1rem;
  }
}

@media (max-width: 360px) {
  .innerWrapper p {
    margin: 0 0 1.5rem;
  }

  .contactItem {
    margin: 0 0 3rem;
    padding: 1rem 0;
  }

  .maskedIcon {
    margin: 0 0 1rem;
  }
}
