.container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  place-items: center;
}
