@import '../../styles/colors';
@import '../../styles/font-variables';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin: 0 auto;
  padding: 20px 0;
  color: $grey;
  font-size: 1.4rem;
  background-color: $white;
}

.madeBy {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}

.logosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerImage {
  height: 60px;
  margin-right: 20px;

  &:last-child {
    margin: 0;
  }
}

.footerText {
  margin: 0 0 20px;
  font-family: $text-font;
  text-align: justify;
  text-align-last: center;
  color: $black;
}

@media (max-device-width: 896px) and (orientation: landscape) {
  .footer {
    height: auto;
  }
}

@media (max-device-width: 424px) and (orientation: portrait) {
  .footer {
    height: auto;
    padding: 0 0 2rem;
    font-size: 1.2rem;
  }

  .footerImage {
    height: 40px;
    margin-right: 15px;
  }
}

@media (max-width: 424px) {
  .footer {
    padding: 0 0 2rem;
    font-size: 1.2rem;
  }

  .footerImage {
    height: 40px;
    margin-right: 15px;
  }
}

@media (max-width: 360px) {
  .footer {
    font-size: 1rem;
  }

  .footerImage {
    height: 35px;
    margin-right: 10px;
  }
}
