@import '../../styles/colors';
@import '../../styles/font-variables';

.footer {
  height: 25vh;
  padding: 20px 0;
  border: 2px solid $grey;
  color: $grey;
  font-size: 1.4rem;
  background-color: $white;
}

.madeBy {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}

.logosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
}

.footerImage {
  height: 80px;
  margin-right: 20px;
  // filter: grayscale(1);

  &:last-child {
    margin: 0;
  }
}

.footerText {
  font-family: $text-font;
  text-align: center;
  color: $black;
}
